# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = enthost_spider.settings

[deploy:main_enthost_spider]
url = http://192.168.2.77:6800/
project = enthost_spider

[deploy:salve_enthost_spider]
url = http://192.168.2.119:6800/
project = enthost_spider